<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloay.alertnotifidemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cloay.alertnotifidemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="com.cloay.alertnotifidemo.MyService"/>
        <activity android:name="com.cloay.alertnotifidemo.AlertActivity"
            android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar"></activity>
        
        <receiver android:name="com.cloay.alertnotifidemo.MyAdminReceiver" >
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/my_admin_receiver"/>
            <intent-filter >
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
